body {
    margin: 0;
}

section{
    height: 100%;
    width: 100%;
}

.background{
    opacity: 0.8;
    background-image: url("img/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.info{
    background-color: rgba(200, 200, 200, 0.5);
}

.name{
    color: yellow;
    font-family: 'Roboto', sans-serif;
}